body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(29, 29, 29);
    width: 120px;
}

li{
    display: inline;
}

li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    color: rgb(255, 255, 255)
}

li a:hover{
    background-color: rgb(237, 242, 192);
    color: rgb(50, 50, 50);
}