body {
    background-color: rgb(176, 176, 252);
  }
  
  .titulo {
    color: white;
    background-color: rgb(34, 128, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    word-spacing: 10px;
  }
  /* Clase articulo */
  .articulo {
    /* colores */
    background-color: white;
    color: rgb(4, 41, 102);
    /* dimensiones */
    width: 500px;
    height: 100px;
    /* bordes */
    border-top: 1px solid rgb(190, 190, 190);
    border-left: 10px solid rgb(5, 76, 168);
    /* margin and padding */
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 2px 2px 2px rgb(150, 150, 150);
    /* texto */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-style: italic;
    text-indent: 30px;
    line-height: 25px;
  }
  
  .navegar,
  .navegar:visited {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgb(0, 111, 119);
    padding: 5px;
    text-transform: uppercase;
  }
  /* Pseudo-class */
  .navegar:hover {
    background-color: rgb(252, 224, 173);
    color: rgb(131, 60, 1);
    border: 1px solid gray;
    box-shadow: 2px 2px 1px rgb(97, 97, 97);
  }
  
  a:visited {
    color: hotpink;
  }
  
  /* listas */
  ul{
      list-style-image: url('../img/hoja.png'); 
  }
  