table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table,
  td,
  th {
    border: 1px solid black;
  }
  
  td {
    padding: 5px;
  }
  
  th {
    height: 30px;
    background-color: rgb(0, 117, 212);
    color: white;
  }
  
  td:first-child,
  td:last-child {
    text-align: center;
  }
  
  td:nth-child(2) {
    font-style: italic;
  }
  
  tbody > tr:hover {
    background-color: rgb(155, 195, 255);
  }
  
  tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
  }
  
  tbody > tr:nth-child(3) > td:nth-child(2){
      color:red;
  }