* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contenedor {
    width: 100vw;
    height: 100vh;
    background: red;
    color: white;
    display: grid;
    grid-template: 80px 1fr 1fr 80px / 1fr 1fr;
    grid-template-areas:
      "header header header"
      "contenido1 contenido1 contenido2"
      "contenido1 contenido1 contenido3"
      "footer footer footer";
  }
  .header {
    background: blue;
    grid-area: header;
  }
  .contenido1 {
    background: red;
    grid-area: contenido1;
  }
  .contenido2 {
    background: violet;
    grid-area: contenido2;
  }
  .contenido3 {
    background: yellow;
    grid-area: contenido3;
  }
  .footer {
    background: black;
    grid-area: footer;
  }
  