*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Principal{
      display: grid;
      grid-template: 230px 1fr 190px/ 1fr 1fr 1fr;
      
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 1fr 500px;
  }
  .contenedorbarra1{
    background: #FFC640;
    grid-column: 2;
    grid-row: 2;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
      font-family: 'Segoe UI';
  }
  .actualizar{
      grid-row: 2;
      grid-column:2/3;
      background-color: white;
      border: 1px solid #707070;
      width: 500px;
      font-family: 'Segoe UI';
      display: grid;
      grid-template: 1fr/1fr;
  }
  .actualizar h2{
    margin-top:20px ;
    margin-bottom:30px ;
    margin-left: 30px;
    font-weight: 600;
    color: #FF9924;
  }
  .actualizar h3{
    margin-left: 79px;
    font-weight: normal;
    color: black;
  }
  .guardar{
    background-color: #FF9924;
    color: white;
    margin-top: 40px;
    margin-left: 200px;
    width: 120px;
    height: 30px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: lighter;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  .seme{
    grid-row: 1;
    grid-column: 1;
  }
  .inputo{
      grid-row: 1;
      grid-column: 1;
      margin-top: 85px;
      margin-left: 200px;
  }

  
.Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
    
}