*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 13vw 1fr 13vw;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
  }
  
  .contenedorbarra1{
      background: #FFC640;
      grid-column: 1;
      grid-row: 2;
      width: 13vw;
      border-bottom: 1px solid #707070;
      border-right: 1px solid #707070;
  }
  .contenedorbarra2{
      background: #FFC640;
      grid-column:3;
      grid-row: 2;
      width: 13vw;
      border-bottom: 1px solid #707070;
      border-left: 1px solid #707070;
  }
  .Convocatoria h1{
    font-family: 'Segoe UI';
      color:#FF9924;
      margin-left: 40px;
      display:grid;
      grid-row: 200px 1fr 100px;
  }
  .datos{
      border: 1px solid #707070;
      background-color: white;
      width: 83%;
      height: 350px;
      margin-left: 85px;
      display: grid;
      grid-template: 1fr /1fr;
  }
  .muestra{
      grid-row: 1/2;
      grid-column: 1/2;
  }
  .datos h3 {
      margin-left: 20px;
      font-family: 'Segoe UI';
      font-weight: normal;
  }
  table {
    font-family: 'Segoe UI';
    border-collapse: collapse;
    width: 90%;
    margin-left: 40px; 
  }
  
  th {
    height: 30px;
    background-color:#FFC640;
    color: white;
    border: 1px solid white;
    font-weight: normal;
    border-bottom: 1px solid #707070; 
  }
  td{
    border: 1px solid #707070; 
    text-align: center;
    padding: 1px;
    background: white;
  }
  
  td:first-child {
    text-align: left;
  }
  .primera{
      width: 600px;
      font-size: 20px ;
  }
  .segunda{
      font-size: 12px
  }
  .postular{
    background-color: #FF9924;
    color: white;
    margin-top: 25px;
    margin-left: 85px;
    width: 295px;
    height: 40px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: normal;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    justify-self: right;
  }
  .cerrar{
    background-color: #FF9924;
    color: white;
    margin-top: 25px;
    margin-left: 300px;
    width: 220px;
    height: 40px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: normal;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    justify-self: right;
  }
  .icono{
    grid-row: 1/2;
    grid-column:1/2;
    margin-top: 25px;
    margin-left: 750px;
  }  
  .Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}