*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 13vw 1fr 13vw;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
      font-family: 'Segoe UI';
  }
  .header h2{
      color:white;
      margin-right: 30px;
      margin-top: 10px;
  }
  .header h1{
      color: #FFEAAF;
      margin-right: 30px;
      font-family: 'Segoe UI';
      letter-spacing: 5px;    
      font-weight: bold;
      font-size: 25px ;
  }
  
 .creacion{
   display: grid;
   grid-template: 1fr/1fr;
 }
 .datos{
   grid-row: 1/2;
   grid-column: 1/2;
 }
 .entrada{
   grid-row: 1/2;
   grid-column: 1/2;
   margin-left: 300px;
   margin-top: 132px;
 }
 .entrada input{
   margin-bottom: 19px;
   width: 300px;
   background-color:#FFF9E4;
    border: 1px solid #FFF9E4;
    border-bottom: 1px solid #707070;    
 }
  .creacion h1{
      color: #FF8800;
      margin-left: 60px;
      font-family: Arial;
      font-weight: normal;
      margin-top: 60px;
      margin-bottom: 30px;
  }
  .creacion h2{
    color: #4A4A4A;
    margin-left: 70px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .contenedorbarra1{
      background: #ECE4D7;
      grid-column: 1;
      grid-row: 2;
      border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
  }
  .contenedorbarra2{
      background: #ECE4D7;
      grid-column:3;
      grid-row: 2;
      border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
  .creacion button{
    background-color: #FF9924;
    color: white;
    margin-top: 80px;
    margin-left: 690px;
    width: 185px;
    height: 50px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bolder;
    border: 1px  solid #707070 ;
    border-radius: 30px;
    justify-self: right;
  }
