*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Principal{
    display: grid;
    grid-template: 120px 1fr 20px/ 1fr 1fr 1fr;
}
.contenedor {
    grid-row: 1/4;
    grid-column: 1/4;
    /* Dimensiones */
    width: 100vw;
    height: 100vh;
    background: #ECE4D7;
    display: grid;
    grid-template: 100px 1fr/ 1fr 1fr 1fr;
}
.header{
    background: #A89E5C;
    grid-row: 1/2;
    grid-column: 1/6;
    display: grid;
    grid-template: 1fr 1fr/1fr;
    justify-items: end;
    font-family: 'Segoe UI';
    border-bottom: 1px solid #707070;
    color: white;
}
.header h1{
    margin-bottom: 20px;
    margin-right: 30px;
}
.header h2{
    margin-top: 10px;
    margin-right: 30px;
    font-weight: normal;
}

.contenedorbarra1{
    background: #FFC640;
    grid-column: 1;
    grid-row: 2;
    width: 40vw;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
}
.contenedorbarra2{
    background: #FFC640;
    grid-column:3;
    grid-row: 2;
    width: 40vw;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
}
.contenedorIngresar{
    background: #FFF9E4;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 800px;
    border: 1px solid #707070;
}   
.usuario{
    margin-top: 170px;
    margin-left: 290px;
    background-color:#FFF9E4;
    border: 1px solid #FFF9E4;
    border-bottom: 1px solid #707070;   
    width: 220px; 
} 

.contraseña{
    width: 220px; 
    margin-top: 15px;
    margin-left: 290px;
    background-color:#FFF9E4;
    border: 1px solid #FFF9E4;
    border-bottom: 1px solid #707070; 
} 

.IniS{
    background-color: #FF9924;
    color: white;
    margin-top: 50px;
    margin-left: 310px;
    width: 190px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    border: 1px  solid #707070 ;
    border-radius: 30px;
    
}
.CRE{
    background-color: #FE802D;
    color: white;
    margin-top: 80px;
    margin-left: 295px;
    width: 225px;
    height: 45px;
    font-size: 20px; 
    border: 1px  solid #707070 ;
    border-radius: 30px;
}