*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Principal{
      display: grid;
      grid-template: 80px 1fr/ 1fr;
      
  }
  .contenedor {
      grid-row: 1/3;
      grid-column: 1;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 1fr 500px;
  }
  .contenedorbarra1{
    background: #FFC640;
    grid-column: 2;
    grid-row: 2;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
      font-family: 'Segoe UI';
  }

    .botones{
        grid-row: 2;
        grid-column: 1;
    }
  .ActualizarP{
    background-color: #FF9924;
    color: white;
    margin-top: 40px;
    margin-left: 1000px;
    width: 300px;
    height: 60px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  .CP{
    
    background-color: #FF9924;
    color: white;
    margin-top: 120px;
    margin-left: 280px;
    width: 600px;
    height: 50px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  .CC{
    background-color: #FF9924;
    color: white;
    margin-top: 60px;
    margin-left: 380px;
    width: 600px;
    height: 50px;
    font-family: 'Segoe UI';
    font-size: 20px; 
    font-weight: bold;
    border: 1px  solid #707070 ;
    border-radius: 30px;
  }
  
  
.Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
    
}
