*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 13vw 1fr 13vw;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
  }
  
  .contenedorbarra1{
      background: #FFC640;
      grid-column: 1;
      grid-row: 2;
      width: 13vw;
      border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
  }
  .contenedorbarra2{
      background: #FFC640;
      grid-column:4;
      grid-row: 2;
      width: 13vw;
      border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
  .convocatorias h1{
    font-family: 'Segoe UI';
      color:#FF9924;
      margin-left: 40px;
      
  }
  table {
    font-family: 'Segoe UI';
    border-collapse: collapse;
    width: 110%;
    margin-left: 40px; 
  }
  
  th {
    height: 30px;
    background-color:#FF9924;
    color: white;
    border: 1px solid white;
    font-weight: normal;
  }
  td{
    border: 1px solid #707070; 
    text-align: center;
    padding: 10px;
    background: white;
  }
  
  td:first-child {
    text-align: left;
  }
  
  .Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}