*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 1fr 1fr 1fr;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/6;
      display: grid;
      grid-template: 1fr 1fr/1fr;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
  }
  
  .contenedorbarra1{
      background: #FFC640;
      grid-column: 1;
      grid-row: 2;
      width: 13vw;
      border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
  }
  .contenedorbarra2{
      background: #FFC640;
      grid-column:4;
      grid-row: 2;
      width: 13vw;
      border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
.Mostrar{
  grid-row: 2;
  grid-column:2/3 ;
  display: grid;
  grid-template: 80px 245px 1fr 1fr/  1fr;
}
    .Mostrar h1{
      color: #FF8800;
      margin-left: 50px;
      font-family: Arial;
      font-weight: normal;
  }
    .Mostrar h2{
      color: #4A4A4A;
      margin-left: 50px;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
  }
  .datos{
    grid-row:1;
    grid-column: 1; 
  }
  .fortalezas{
    grid-row: 2/3;
    margin-top: 152px;
    margin-left: 160px;
    width: 59vw;
    height: 10vh;
    border: 1px solid #707070;
  }
  .Herramientas{
    grid-row: 3/4;
    margin-left: 190px;
    width: 57vw;
    height: 10vh;
    border: 1px solid #707070;
  }
    .cambios{
      grid-row: 1/2;
      grid-column: 1;
    }
    .cambios button{
      background-color: #FF9924;
      color: white;
      margin-top: 30px;
      margin-left: 700px;
      width: 250px;
      height: 70px;
      font-family: 'Segoe UI';
      font-size: 20px; 
      font-weight: bolder;
      border: 1px  solid #707070 ;
      border-radius: 35px;
    }
    .datos label{
      color: #4A4A4A;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400;
      margin-left: 610px;
    }
    .datos select{
      width: 200px;
      height: 28px;
      margin-left: 20px;
    }
  .Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}