*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contenedor {
      grid-row: 1/4;
      grid-column: 1/4;
      /* Dimensiones */
      width: 100vw;
      height: 100vh;
      background: #FFF9E4;
      display: grid;
      grid-template: 80px 1fr/ 13vw 1fr 13vw;
  }
  .header{
      background: #A89E5C;
      grid-row: 1/2;
      grid-column: 1/4;
      display: grid;
      justify-items: end;
      border-bottom: 1px solid #707070;
  }
  .header a{
      color:#FFFCB4;
      margin-right: 30px;
  }
  
  .contenedorbarra1{
      background: #FFC640;
      grid-column: 1;
      grid-row: 2;
      border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
  }
  .contenedorbarra2{
      background: #FFC640;
      grid-column:3/4;
      grid-row: 2;
      border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
  }
  .post{
    display: grid;
    grid-template-rows: 158px 1fr;
  }
  .contenido{
    grid-row: 1;
    background-color: white;
    width: 895px;
    height: 480px;
    margin-left: 60px;
    margin-top: 40px;
    border: 1px solid #707070;
  }
  .contenido h2{
    margin-left: 25px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #FF9924;
  }
  .descripcion{
    grid-row: 2;
    border: 1px solid #707070;
    width: 550px;
    height: 130px;
    justify-self: center;
  }
  .Usuario{
    font-family: 'Segoe UI';
    text-decoration: none;
    letter-spacing: 5px;
}